@import '../../sass/_variables.scss';


::-webkit-scrollbar { display: none; }
html { scrollbar-width: none; }


.gallery { 
    width: 100vw;
    height: 100vh;
    position: relative;
    .scroll_galery {
        width: 120vw !important;
        height: 100%;
        position: absolute;
        display: flex;
        .cd_gallery{
            opacity: 0;
            display: flex;
            left: 10vw;
            justify-content: center;
            align-items: center;
            gap: $marge;
            height: 40%;
            top: $marge * 2 + 75px;
            position: absolute;
            animation: revealGallery .5s 2.25s cubic-bezier(0.15, 0.01, 0.15, 0.99) forwards;
            .cd_image{
                height: 100%;
                width: 100px;
                overflow: hidden;
                transform-origin: center center;
                transition: height cubic-bezier(0.15, 0.01, 0.15, 0.99) .15s,
                            width cubic-bezier(0.15, 0.01, 0.15, 0.99) .75s;
                transition-timing-function: cubic-bezier(0.15, 0.01, 0.15, 0.99);
                img{
                    width: 100%;
                    height: 100%;
                    cursor: pointer;    
                    object-fit: cover;
                    filter: brightness(0.8);
                    transition: transform cubic-bezier(0.15, 0.01, 0.15, 0.99) .25s,
                                filter cubic-bezier(0.15, 0.01, 0.15, 0.99) .35s;
                    &:hover{
                        filter: brightness(1);
                    }
                }
            }
        }
        
    
    }

}

@keyframes revealGallery {
    from {
        opacity: 0;

    }
  
    to {
        opacity: 1;
    }
  }

