* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100dvh;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: clamp(15px, 0.75vw, 18px);
}

main {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

::-moz-selection {
  color: $color-1 !important;
  background: transparent !important;
}

::selection {
  color: $color-1 !important;
  background: transparent !important;
}
